@font-face {
    font-family: 'QB-Condensed';
    src: url('https://github.com/fontsqb/qbfonts/raw/refs/heads/main/caslon_doric_condensed_qb-bold_headings_only-webfont.woff') format('woff2');
    font-weight: bold;
    font-style: normal;
}
