@font-face {
    font-family: 'CaslonDoric';
    src: url('https://raw.githubusercontent.com/fontsqb/qbfonts/main/caslon_doric_condensed_qb-bold_headings_only-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
